body {
	background: purple;
	font-size: 1.125rem;
}

body {
	font-family: sans-serif;
}

article {
	background-color: blueviolet;

	& .title {
		font-size: 5rem;
	}

	@media (--viewport-large) {
		background-color: blue;
	}
}

@custom-media --viewport-large (min-width: 70em);

@media (--viewport-large) {
	body {
		background-color: rebeccapurple;
	}
}
